# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

In [3]:
called = pd.read_csv("weekly_exercise_test.csv")
called.head()

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

### Step 4.  What is the frequency of the dataset?

In [4]:
called.size()

TypeError: 'numpy.int32' object is not callable

### Step 5. Set the column Date as the index.

In [5]:
called.dtypes

Date               object
Total Equity        int64
Domestic Equity     int64
World Equity        int64
Hybrid              int64
Total Bond          int64
Taxable Bond        int64
Municipal Bond      int64
Total               int64
dtype: object

### Step 6. What is the type of the index?

### Step 7. Set the index to a DatetimeIndex type

In [6]:
called['Date'] = pd.to_datetime(called['Date'])
#called = called.set_index("Date")

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [7]:
called['month_date'] = called['Date'].dt.strftime('%B - %Y')

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

In [9]:
called = called.dropna(axis = 0)

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

In [10]:
called.head()

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total,month_date
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183,December - 2012
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842,December - 2012
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466,December - 2012
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291,December - 2012
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931,January - 2013

### BONUS: Create your own question and answer it.