# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [2]:
wine = pd.read_csv("wine_exercise_test.data",sep = ",")
wine.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [3]:
wine = wine.drop(wine.columns[[0, 3, 6,8,10,12,13]], axis=1)
wine.head()

   14.23  1.71  15.6  127  3.06  2.29  1.04
0  13.20  1.78  11.2  100  2.76  1.28  1.05
1  13.16  2.36  18.6  101  3.24  2.81  1.03
2  14.37  1.95  16.8  113  3.49  2.18  0.86
3  13.24  2.59  21.0  118  2.69  1.82  1.04
4  14.20  1.76  15.2  112  3.39  1.97  1.05

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [4]:
wine.columns = ['alcohol', 'malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins',' hue ']
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,1.05
1,13.16,2.36,18.6,101,3.24,2.81,1.03
2,14.37,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [5]:
wine.iloc[0:3,0:1] = np.NaN

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [6]:
wine.iloc[3:5,3:4] = np.NaN

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [7]:
wine.iloc[0:3,0:1] = 10
wine.iloc[3:5,3:4] = 100

### Step 9. Count the number of missing values

In [8]:
wine.isnull().count()

alcohol              177
malic_acid           177
alcalinity_of_ash    177
magnesium            177
flavanoids           177
proanthocyanins      177
 hue                 177
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [9]:
randnum = np.random.randint(0,11,10)

In [10]:
randnum

array([ 1, 10,  8, 10,  8,  1,  2,  4,  8,  0])

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [11]:
wine = pd.DataFrame(wine,index=randnum)

In [12]:
wine.fillna(np.NaN)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
10,14.12,1.48,16.8,95.0,2.43,1.57,1.17
8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
10,14.12,1.48,16.8,95.0,2.43,1.57,1.17
8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
2,10.00,1.95,16.8,113.0,3.49,2.18,0.86
4,14.20,1.76,15.2,100.0,3.39,1.97,1.05
8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05

### Step 12.  How many missing values do we have?

In [13]:
wine.isnull().count()

alcohol              10
malic_acid           10
alcalinity_of_ash    10
magnesium            10
flavanoids           10
proanthocyanins      10
 hue                 10
dtype: int64

### Step 13. Delete the rows that contain missing values

In [14]:
wine.dropna(subset = None, inplace=True)

### Step 14. Print only the non-null values in alcohol

In [15]:
print (wine.dropna(subset = None, inplace=True))

None

### Step 15.  Reset the index, so it starts with 0 again

In [16]:
wine.reset_index()

,index,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
1,10,14.12,1.48,16.8,95.0,2.43,1.57,1.17
2,8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
3,10,14.12,1.48,16.8,95.0,2.43,1.57,1.17
4,8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
5,1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
6,2,10.00,1.95,16.8,113.0,3.49,2.18,0.86
7,4,14.20,1.76,15.2,100.0,3.39,1.97,1.05
8,8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
9,0,10.00,1.78,11.2,100.0,2.76,1.28,1.05

### BONUS: Create your own question and answer it.